@import "vars";

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(255,255,255,0.72);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  z-index: 1;
}
.menu {
  display: none;
}
.nav-logo {
  width: 100px; 
  background: -webkit-linear-gradient(#8c82ff,#00a294);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform .2s;
  &:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: $--very-light-pink;
  border: 1px solid $--white;
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid $--hospital-green;
  color: $--hospital-green;
}
.navbar-email {
  color: black;
  font-size: $--sm;
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
  transition: transform .2s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: rgb(140, 130, 255);
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
}
